@model Apprisal.web.App_mvc_.Data.ApprisalEnitity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApprisalEnitity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvoluvationPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvoluvationPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfJoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfJoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfLeavesTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfLeavesTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientDeliveryFeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientDeliveryFeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilitiesFeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilitiesFeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillsFeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillsFeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certifiate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certifiate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApprisalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
