@model IEnumerable<Apprisal.web.App_mvc_.Data.ApprisalEnitity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvoluvationPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfJoin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfLeavesTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientDeliveryFeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibilitiesFeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillsFeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certifiate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvoluvationPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfJoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLeavesTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientDeliveryFeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibilitiesFeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillsFeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certifiate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApprisalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApprisalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApprisalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
